arrow==1.2.3
asgiref==3.6.0
beautifulsoup4==4.12.2
boto3==1.26.138
botocore==1.29.138
bs4==0.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.6
defusedxml==0.7.1
diskcache==5.6.1
dj-rest-auth[with-social,with_social]==4.0.1
django==4.2.7
django-allauth==0.54.0
django-cors-headers==4.0.0
django-rest-knox==4.2.0
django-s3-storage==0.14.0
django-tagging @ git+https://github.com/rphlo/django-tagging
djangorestframework==3.14.0
gpxpy==1.5.0
h3==3.7.6
idna==3.4
jmespath==1.0.1
numpy==1.24.3
oauthlib==3.2.2
patchy==2.8.0
pillow==10.0.1
pint==0.22
psycopg2==2.9.6
pycparser==2.21
pydantic==1.10.9
pyjwt[crypto]==2.8.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
raven==6.10.0
requests==2.31.0
requests-oauthlib==1.3.1
reverse-geocoder==1.5.1
s3transfer==0.6.1
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stravalib==1.5
timezonefinder==6.2.0
typing-extensions==4.6.0
urllib3==1.26.18
uwsgi==2.0.22

# The following packages are considered to be unsafe in a requirements file:
# setuptools
