arrow
diskcache
django
pillow
django-cors-headers
requests
djangorestframework
uwsgi
psycopg2
raven
django-rest-knox
timezonefinder
reverse_geocoder
dj-rest-auth[with_social]
django-s3-storage
gpxpy
stravalib
bs4
django-tagging @ git+https://github.com/rphlo/django-tagging
