arrow
django
pillow
django-cors-headers
requests
djangorestframework
uwsgi
psycopg2-binary
raven
django-rest-knox
timezonefinder
reverse_geocoder
django-rest-auth[with_social]
django-s3-storage
gpxpy
stravalib